  <div class="cart-shipping-pre-confirm">
    <div class="cart-shipping-pre-confirm__select">
      <label for="shippingPreConfirm"><svg xmlns="http://www.w3.org/2000/svg" width="14" height="10" viewBox="0 0 14 10"><path id="多角形_3" data-name="多角形 3" d="M7,0l7,10H0Z" transform="translate(14 10) rotate(-180)" fill="#918e8e"/></svg></label>
      <select name="attributes[前面道路幅]" id="shippingPreConfirm">
        <option value="-" selected>お届け先の前面道路幅</option>
        <option value="true">前面道路幅は3.5mより大きい</option>
        <option value="false">前面道路幅は3.5m以下</option>
      </select>
    </div>
    <p class="cart-shipping-pre-confirm__text">材木は2tトラックまたは4tトラックで配送しますので、前面道路幅によってはお届けできない場合があります。<br>
    車どうしがすれ違いにくいような狭い道路幅の場合はお手数ですが、計測をお願いします。<br>
    道路幅が3.5m以下の場合は、トラックの進入が難しいため配送できません。道路幅の広い場所を別途配送先にするなどをお願いします。</p>
  </div>
  <div class="cart-shipping">
    <div class="cart-shipping-calculate is-disabled">
      <hr>
      <form>
        <div class="cart-shipping-calculate__weight">
          <div class="cart-shipping-calculate__label">現在カートに入っている木材の重量</div>
          <div class="cart-shipping-calculate__value"><span id="weight" class="weight">{{cart.total_weight | divided_by: 1000 | ceil }}</span>Kg</div>
        </div>
        <div class="cart-shipping-calculate__postal">
          <div class="cart-shipping-calculate__label"><input type="text" id="postalCode" name="attributes[郵便番号]" placeholder="郵便番号" onblur="cart_validate.alertZipCode(this.value);"></div>
          <div class="cart-shipping-calculate__value">郵便番号から送料を算出するための配送距離を計算します</div>
        </div>
        <div class="error-message-cart--validate-postal-ng">
          郵便番号の入力エラーです。123-4567 もしくは、1234567 の形式でご入力ください。
        </div>
        {% render 'delivery-date' %}
        <div class="cart-shipping-calculate__estimate">
          <div class="cart-shipping-calculate__label"><estimate-shipping-fee-button id="submitButton" class="button cart-shipping-calculate__estimate-button">送料計算</estimate-shipping-fee-button></div>
          <div class="cart-shipping-calculate__value">
            <p class="cart-shipping-calculate__estimate-text"><span id="resultRates">----</span><small>(税込)</small></p>
            <ul class="cart-shipping-calculate__estimate-attention">
              <li><span class="icon">※</span>山間部や離島など一部配送が難しい地域や追加配送料がかかるケースがあります。追加の費用がかかる場合は事前にご連絡を差し上げ、ご了解をいただいたうえで発送いたします。</li>
            </ul>
          </div>
        </div>
        <div class="error-message-cart--estimate-ng">
            送料が計算できませんでした。<br>
            400kg以上もしくは2.2m以上の場合は個別見積もりいたします。<br>
            恐れ入りますが、<a href="/pages/contact" target="_blank">お問い合わせフォーム</a>よりご希望の注文内容を明記の上、ご連絡ください。
        </div>
      </form>
    </div>
    <div class="cart-shipping-inquiry">
      <p>道路幅が狭いため個別対応となります。お問い合わせフォームよりご注文ください。</p>
      <a href="/pages/contact" class="button" target="_blank">お問い合わせフォーム</a>
    </div>
  </div>
