{%- style -%}

  .wsy-main-page-title-wrapper {
    width: calc(100% - 36px);
    max-width: 1280px;
    height: 515px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
  }
  .wsy-main-page-title {
    margin: 0;
    padding: 12.1vw 0 0;
    text-align: center;
    flex-shrink: 0;
  }
  .page-subtitle {
    display: block;
    font-size: 18px;
    text-align: center;
  }
  .wsy-main-page-image {
    padding-bottom: 65px;
  }

  @media screen and (min-width: 750px) {
    .wsy-main-page-title-wrapper {
      width: calc(100% - 80px);
      margin: 0 auto;
      flex-direction: row;
      align-items: center;
    }
    .wsy-main-page-title {
      margin-right: 20px;
      padding: 0;
      text-align: left;
      display: flex;
      flex-direction: column;
      align-content: center;
    }
    .wsy-main-page-title-all svg {
      width:297.56px;
      height:72.41px;
    }
    .page-subtitle {
      padding-top: 14px;
      font-size: 22px;
      text-align: left;
    }
    .wsy-main-page-image {
      padding-bottom: 0;
    }
  }
{%- endstyle -%}

{% for collection in collections %}

  {% if collection.handle == 'all' %}

  <h1 class="wsy-main-page-title wsy-main-page-title-{{ collection.handle }}">
    <svg xmlns="http://www.w3.org/2000/svg" width="238.047" height="57.93" viewBox="0 0 238.047 57.93">
      <path id="パス_2500" data-name="パス 2500" d="M-118.281-2.148v-12.5a24.019,24.019,0,0,0,7.383,4.277,23.731,23.731,0,0,0,8.047,1.426,17.845,17.845,0,0,0,4.16-.43,9.745,9.745,0,0,0,2.969-1.191,5.2,5.2,0,0,0,1.777-1.8,4.483,4.483,0,0,0,.586-2.246,4.855,4.855,0,0,0-.937-2.93,10.088,10.088,0,0,0-2.559-2.383,26.734,26.734,0,0,0-3.848-2.109q-2.227-1.016-4.8-2.07-6.562-2.734-9.785-6.68a14.583,14.583,0,0,1-3.223-9.531,15.18,15.18,0,0,1,1.758-7.52,14.929,14.929,0,0,1,4.785-5.176A21.456,21.456,0,0,1-104.961-56a36.028,36.028,0,0,1,8.438-.957,50.749,50.749,0,0,1,7.754.527,30.494,30.494,0,0,1,6.23,1.621v11.68a18.839,18.839,0,0,0-3.066-1.719,24.294,24.294,0,0,0-3.418-1.23,26.071,26.071,0,0,0-3.5-.723,24.743,24.743,0,0,0-3.3-.234,17.214,17.214,0,0,0-3.906.41,10.02,10.02,0,0,0-2.969,1.152,5.733,5.733,0,0,0-1.875,1.777,4.213,4.213,0,0,0-.664,2.324,4.439,4.439,0,0,0,.742,2.52,8.513,8.513,0,0,0,2.109,2.109,22.385,22.385,0,0,0,3.32,1.953q1.953.957,4.414,1.973a49.185,49.185,0,0,1,6.035,2.988,21.455,21.455,0,0,1,4.59,3.574,13.924,13.924,0,0,1,2.93,4.551,16.08,16.08,0,0,1,1.016,5.957,15.957,15.957,0,0,1-1.777,7.871A14.43,14.43,0,0,1-86.68-2.715,20.919,20.919,0,0,1-93.77.117,40.974,40.974,0,0,1-102.3.977,47.46,47.46,0,0,1-111.074.2,26.473,26.473,0,0,1-118.281-2.148Zm86.758-43.594H-47.5V0H-60.156V-45.742h-15.9V-56.016h44.531ZM-3.281.977q-12.031,0-19.609-7.832t-7.578-20.41q0-13.281,7.7-21.484t20.391-8.2q11.992,0,19.395,7.852t7.4,20.7q0,13.2-7.676,21.289T-3.281.977Zm.547-47.07a12.7,12.7,0,0,0-10.547,4.98q-3.906,4.98-3.906,13.184,0,8.32,3.906,13.164A12.516,12.516,0,0,0-3.047-9.922,12.642,12.642,0,0,0,7.3-14.629q3.828-4.707,3.828-13.066,0-8.711-3.711-13.555A12.1,12.1,0,0,0-2.734-46.094ZM80.7,0H66.211L57.5-14.414q-.977-1.641-1.875-2.93a16.276,16.276,0,0,0-1.816-2.207,7.223,7.223,0,0,0-1.914-1.406,4.858,4.858,0,0,0-2.168-.488h-3.4V0H33.711V-56.016h20q20.391,0,20.391,15.234a15.776,15.776,0,0,1-.9,5.41A15.029,15.029,0,0,1,70.664-30.9,16.1,16.1,0,0,1,66.7-27.461,20.447,20.447,0,0,1,61.523-25.2v.156a8.028,8.028,0,0,1,2.422,1.27,17.342,17.342,0,0,1,2.266,2.051A28.612,28.612,0,0,1,68.3-19.2q1,1.348,1.816,2.637ZM46.328-46.562v15.586H51.8A9.067,9.067,0,0,0,58.32-33.32a7.822,7.822,0,0,0,2.5-5.9q0-7.344-8.789-7.344ZM119.531,0H85.938V-56.016h32.3v10.273H98.555v12.461h18.32v10.234H98.555v12.813h20.977Z" transform="translate(118.516 56.953)"/>
    </svg>
    <span class="page-subtitle">オンラインストア</span>
  </h1>
  
  <div class="wsy-main-page-image main-page-image-{{ collection.handle }}">
    <img src="{{ "store_hero_01.png" | asset_url }}" width="100%">
  </div>

  {% endif %}
  
{% endfor %}



{% schema %}
  {
    "name": "collection-all-title",
    "tag": "section",
    "class": "wsy-main-page-title-wrapper",
    "settings": [
    ]
  }
{% endschema %}
